.account-bg{
    background-image: url("../assets/account5.png");
    height: 620px;
    width: 1360px;
    display: flex;
    justify-content: space-around;
}

.account-logo {
    margin-top: 25px;
    margin-left: -100px;
    filter: drop-shadow(10px 10px 10px rgb(24, 23, 26));
}

.profileheading {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    margin-top: 30px;
    margin-left: -150px;
}

.profilewel {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-left: -150px;
}

.profile-smallpic {
    margin-top: 35px;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50px;
    background-color: black;
}

.profile-smallpich {
    margin-left: 20px;
    margin-top: 50px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.side-window {
    height: 620px;
    width: 130px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgb(155, 154, 154);
    align-items: center;
}


.dashboard{
    color: black;
    margin-top: 7px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    margin-left: 20px;

}
.dashboard-image{
    height: 40px;
    width:40px;
}



.dashboard-flex{
    margin-left: -100px;
    margin-top: 50px;
}
.accountnav-links {
    margin-top: 20px;
    margin-left: -100px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    color: darkgrey;
    font-style: normal;
    font-size: 19px;
    display: flex;
    flex-direction: column;
}

.accountlogin-btn {
    padding-top: 20px;
}

.smallpicflex {
    display: flex;
}

/* .profile-box {
    height: 490px;
    border-radius: 20px;
    width: 900px;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    margin-top: -500px;
    margin-left: 400px;
} */

.profile-data {
    height: 440px;
    width: 350px;
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 15px;
}
.nav-icon{
height: 35px;
padding-right: 20px;
}
.dashboard-name{
    margin-top: 5px;
}


.nav-item{
    display: flex;

}


.profile-photo {
    height: 200px;
    width: 350px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230612/pngtree-man-wearing-glasses-is-wearing-colorful-background-image_2905240.jpg");
    border-radius: 15px 15px 0px 0px;
}

.form-input {
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    border: none;
}

.account-name {
    opacity: 1;
}

.profile-data {
    margin-top: -480px;
    margin-left: 450px;
}

.myprofile {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 120px;
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.profile-form {
    animation: fadeInRight 1s ease-out;
}

.myprofile {
    animation: bounceInLeft 1s ease-out;
}

.account-name {
    margin-top: 10px;
    animation: fadeInRight 1s ease-out;
}

.form-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-left: white;
    border-top: white;
    border-right: white;
    border-bottom-width: 2px;
}
.accsave-btn {
    margin-top: 20px;
    margin-left: 120px;
    width:100px;
    padding: 8px;
     border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: black;
    background-image: linear-gradient(to right, #e310b5, #fd570c); /* Adjust colors as needed */
    color: rgb(255, 253, 253);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}




.form-email {
    width: 320px;
}

.Post-heading{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 170px;   
}

.accpostbox{
    background-color: rgb(255, 255, 255);
    height:450px;
    width:450px;
    margin-top: -450px;
    margin-left: 850px;
    border-radius: 20px;
}

.post-scroll{
height: 440px;
overflow: scroll;   
border-radius: 20px;
}


.accpost-box{
    margin-top: 20px;
    background-color: #fd570c;
    height: 180px;
    width:290px;
   
    border-radius:15px 15px 0px 0px;
}


.accpost-mainbox{
    height:380px;
    width:290px;
    border-radius:15px 15px 15px 15px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    margin-left: 80px;
}

.accform-postflex{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 8px;
padding-right: 8px;}

.accform-texts{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    color: #746f6f;
}

.accform-postdetails{
    border: 1px solid #ccc;
    border-left: white;
    border-top: white;
    border-right: white;
    border-bottom-width: 2px;
    margin-top: -10px; 
}