.accbody {
    display: flex;
}

.sidewindow {
    background-color: blueviolet;
    width: 20%;
    height: 50vw;
    position: fixed;
}




.nav-icon {
    height: 35px;
    padding-right: 20px;
    margin-top: -2%;
    margin-left: 5%;
}

.dashboard-name {
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.nav-item {
    display: flex;
    padding: 10%;
}

.accountnav-links {
    margin-top: 30%;
}

.thepost{
    margin-left: 20%;
}

.small-profile {
    height: 90px;
    width: 90px;
    background-color: blueviolet;
    border-radius: 50px;
    margin-top: 50%;
    margin-left: 60%;
    padding: 20px;
}

.profile-name {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.profile-section {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 50vw;
}

.profile-bottonss {
    align-items: center;
    background-color: blueviolet;
    margin-left: 30px;
    color: white;
    padding: 6px 20px 6px 20px;
    border-radius: 10px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.profile1 {
    align-items: center;
    justify-content: space-between;
}

.myposts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    gap: 20px;
}

.mypost {
    font-family: "Segoe UI", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 60px;
    transition: all 0.3s ease;
}

.mypost:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accpost-mainbox {
    margin-left: 5%;
    width: 90%;
    height: 500px;
    padding: 15px;
    background-color: #afa4eb;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.accpost-mainbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accpost-box {margin-top: 10%;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.accpost-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.accmenu-title,
.accmenu-address,
.accmenu-location,
.accmenu-canDeliver {
    margin-top: 10px;
}

.accform-texts {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-left: 20%;

}


.accform-postdetails {
    width: 100%;
    margin-left: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;}




.Allscroll {
    overflow: scroll;
    height: 40vw;
}
.Allscroll::-webkit-scrollbar {
    width: 0;
  }



/* Add animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease;
}

.delivery{
    margin-left: 70%;
}


.deletebtn{
    background-color: red;
    padding: 5px 20px 5px 20px;

    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-top: 30px;
    color: white;


}

.editbtn{
    background-color: #17086e;
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;

}