.lheader {
    background-color: #11053e;
    height: 225px;
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically center */
  }
  
  .llogo {
    margin-left: 40px;
  }
  
  .nav-links a {
    color: aliceblue;
    margin-right: 150px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
  }
  
  .llbody {
    margin: 0;
    padding: 0;
    background-image: url("../assets/loginbg.png");
    width: 1360px;
    height: 1640px;
  }
  
  .llbox1 {
    height: 700px;
    width: 700px;
    background-color: #d2ab96;
    border: 1px solid black;
    margin-left: 300px;
    margin-top: 195px;
    border-radius: 49px;
    display: flex;
  }
  
  .llbox2 {
    background-color: #bb5943;
    height: 500px;
    width: 300px;
    margin-top:90px;
    margin-left: 50px;
    border-radius: 40px 0px 0px 40px;
  }
  
  .lformbox {
    background-color: white;
    height: 500px;
    width: 360px;
    margin-top: 90px;
    margin-right: 50px;
    border-radius: 0px 50px 50px 0px;
  }
  
  .createaccount {
    margin-top: 60px;
    margin-left: 110px;
    color: rgb(0, 0, 0);
    margin-right: 150px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 500;
    font-style: normal;
    font-size: 41px;


  }
  
  label {
    background-color: #fff;
    margin-left: 30px;
    padding: 0px 8px 0px 8px;
    color: #000000;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: initial;
    font-weight: 450;
    font-style: normal;
  }
  
  .form1 {
    margin-top: 80px;
    margin-left: 50px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 50px;
  }
  
  .form-group input {
    width: 270px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-group input:focus {
    border-color: #e3c5be;
    box-shadow: 0 0 10px #e3c5be;
  }
  
  .form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: top 0.3s, left 0.3s, color 0.3s;
  }
  
  .form-group input:focus + label,
  .form-group input:not(:placeholder-shown) + label {
    top: -15px;
    left: 0;
    color: #000000;
  }
  
  .formbutton {
    margin-left: 50px;
    display: block;
    width: 150px;
    height: 52px;
    padding: 10px;
    color: #fff;
    border-radius: 14px;
    border: none;
    cursor: pointer;
  }
  
  .img1 {
    margin-top: -850px;
    margin-left: 150px;
  }
  
  .image-container {
    margin-left: 20px;
    position: relative;
    width: 350px;
    height: 350px;
  }
  
  .animated-image {
    position: absolute;
    left: 150px;
    top: 280px;
    transition: transform 1s ease-in-out;
    /* filter:drop-shadow(10px 7px 10px orange); */
  }
  
  .animated-image:hover {
    transform: translate(-20px, 20px);
  }
  
  .animated-image:hover {
    animation-name: moveBack;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveBack {
    0% {
      transform: translate(-20px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  .success-message {
    color: #e3c5be;
  }
  
  .thumbs {
    height: 300px;
    width: 300px;
  }
  





